<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/9ef86456d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="views/assets/style/home.css"></style>
    <link rel="icon" type="image/x-icon" href="views/assets/img/favicon.ico">
</head>
<body class="home">
    <div class="container">
        <nav class="nav-container">
            <div class="side-nav">
                <div class="menu-nav">
                    <h1>{{ h1 }}</h1>
                    <a href="/CookinCrew/">Accueil</a>
                    <a href="/CookinCrew/inscription">Inscription</a>
                    <a href="/CookinCrew/connexion">Connexion</a>
                    <a href="/CookinCrew/deconnexion">Déconnexion</a>
                    <a href="/CookinCrew/admin">Admin</a>
                </div>
                <div class="user-nav">
                    {% if isConnected %}
                        <p><strong>{{ username }}</strong>.</p>
                    {% else %}
                        <p>User</p>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="message-container">
            {% if isConnected %}
                <section class="post-section">
                    <form class="messageContainer" method="POST" action="" enctype="multipart/form-data">
                        <input type="text" name="titre" id="titre" required class="post post-title" placeholder="Titre"></input>
                        <input name="description" id="description" required class="post post-title" placeholder="Recette"></input>
                        <div class="post-footer">
                            <label for="image" style="cursor: pointer;">
                                <i class="image-post-icon fa-solid fa-image"></i>
                            </label>
                            <!-- L'input est masqué -->
                            <input type="file" name="image" id="image" accept="image/*" style="display: none;">
                            <button type="submit" class="post-btn">Publier</button>
                        </div>
                    </form>
            {% else %}
                <p>Vous n'êtes pas connecté. <a href="/CookinCrew/connexion">Connectez-vous</a> pour poster un message.</p>
            {% endif %}
                {% if messages|length > 0 %}
                <ul class="message-list">
                {% for msg in messages %}
                    <li class="message-card">
                        <div class="header-post">
                            <p>{{ msg.username }}&nbsp;</p>   
                            <small>-&nbsp;{{ msg.date_poste }}</small>
                        </div>
                        <div class="left-post">
                            <h3>{{ msg.titre }}</h3>
                            <p>{{ msg.description }}</p>
                        </div>
                        {% if msg.image %}
                            <div class="right-post">
                                <img class='post-img' src="/CookinCrew/{{ msg.image }}" alt="Image message">
                            </div>
                        {% endif %}
                        <div class="footer-post">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-comments"></i>
                        <i class="fa-solid fa-share"></i>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>Aucun message pour le moment.</p>
                {% endif %}
            </section>
        </div>
    </div>
</body>
</html>
